h2 {
  text-align: center;
}

.alignNavbar {
  margin-left: 1rem;
}

.alignLogo {
  margin-right: 1rem;
}

.spanCounter {
  width: 100px;
  display: inline-block;
}

.btnAgregar {
  width: 170px;
  display: inline-block;
  height: 40px;
}
